.socials img {
  margin-right: 5px;
  margin-top: 5px;
  width: 50px;
  height: 50px;
}

.socials img:hover {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  transition-duration: 0.2s;
  filter: invert(1);
}

.socials .form-label {
  margin-top: 10px;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(194, 60, 60, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
  border: 2px solid #000000;
}

.btn-group, .btn-toolbar {
  padding-top: 10px;
}

.subject {
  padding-top: 5vh;
}

.subject, .message {
  padding-left: 5vw;
  padding-right: 5vw;
}