.navigation {
    background-color: #000000;
    color: #FFFFFF;
    font-family: monospace;
}

.navigation .dropdown-menu {
    background-color: #000000;
}

.navigation .dropdown-item {
    color: #FFFFFF;
}

.navigation .dropdown-item:hover {
    color: #000000;
    background-color: #FFFFFF;
}